/.vscode
*.vcd
*.fst
/obj_dir
*.bin
*.param
*.table
/vsrc
/log
/project
/target
*.log
image.png
/tools/build/*
/models/u_ncnnoptimize
/models/u_ncnn2int8
/models/imagelist_coco.txt
/models/imagelist_voc.txt
*.baiduyun.p.downloading
*.baiduyun.uploading.cfg
